@{Layout = null;}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="#">
    <meta name="description" content="#">
    <title>Forgot Password</title>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/images/favicon.ico">
    <link rel="shortcut icon" href="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/images/favicon.ico">
    <link href="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link href="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/css/font/flaticon.css" rel="stylesheet">
    <link href="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/css/slick.css" rel="stylesheet">
    <link href="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/css/ion.rangeSlider.min.css" rel="stylesheet">
    <link href="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/css/datepicker.css" rel="stylesheet">
    <link href="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/css/nice-select.css" rel="stylesheet">
    <link href="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/css/style.css" rel="stylesheet">
    <link href="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/css/responsive.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.jqueryscript.net/demo/Bootstrap-4-Dropdown-Select-Plugin-jQuery/dist/css/bootstrap-select.css" />

</head>



<body class="coming-soon parallax">
    <style>
        body {
            height: 100vh !important
        }

        .extensionDoc {
            color: grey;
            font-size: 11px;
        }

        .required {
            color: red
        }
        .tabs .nav-tabs .nav-item .nav-link {
           
            border-bottom: 2px solid #dadada;
        }
            @@media only screen and (max-width:768px) {
                h1 {
                    font-size: 30px !important;
                }
            }

            @@media (min-width: 1200px) {
                .container, .container-lg, .container-md, .container-sm, .container-xl {
                    max-width: 600px;
                }
            }
    </style>
    <div class="container loginContainer" style="margin-top: 50px; margin-bottom: 50px;">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <div class="full-height Login-Text RegisterLang" style="padding-top:60px">
                    <div class="row">
                        <div class="col-12">
                            <a style="cursor: pointer; " onclick="window.history.back()" title="Back"> <i class="fas fa-arrow-left" style="font-size: 30px; color :#372e2c"></i></a>
                        </div>
                        <div class="col-12 LoginLang">
                            <h1 key="ForgotPassword" class="text-custom-black">Forgot Password</h1>

                        </div>

                    </div>


                    <form id="ForgotForm">
                        <div class="tabs">
                            <ul class="custom-flex nav nav-tabs ">
                                <li class="nav-item RegisterLang">
                                    <a key="VerifyViaEmail" class="nav-link active" data-toggle="tab" href="#ViaEmail">Verify Via Email</a>
                                </li>
                                <li class="nav-item RegisterLang">
                                    <a key="VerifyViaSMS" class="nav-link" data-toggle="tab" href="#ViaSMS">Verify Via SMS</a>
                                </li>

                            </ul>
                            <div class="tab-content bg-custom-white bx-wrapper padding-20">
                                <div class="tab-pane active" id="ViaEmail">
                                    <div class="tab-inner">
                                        <div class="row mb-md-80 d-flex align-items-center">
                                            <div class="col-md-12">
                                                <div class="form-group RegisterLang">
                                                    <label key="Email" class="fs-14 text-custom-black fw-500">Email <span class="required">*</span> </label>
                                                    <input InputKey="Email" class="form-control form-control-custom" type="text" name="Email" id="Email" placeholder="Email">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="ViaSMS">
                                    <div class="tab-inner">
                                        <div class="row mb-md-80 d-flex align-items-center">
                                            <div class="col-md-12">
                                                <div class="form-group RegisterLang">
                                                    <label key="Mobile" class="requiredStar fs-14 text-custom-black fw-500">Mobile <span class="required">*</span> </label>
                                                    <div class="input-group group-form">

                                                        <input autocomplete="off" Inputkey="Mobile" style=" padding-left: 64px;padding-right: 64px;" class="form-control form-control-custom" maxlength="9" type="tel" onkeypress="return isNumberKey(event)" name="Mobile" id="Mobile" placeholder="XXXXXXXXX">

                                                        <span class="input-group-mask">(+971) -</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        
                            <div class="row justify-content-center mt-4">
                                <div class="col-md-3">
                                    <div class="form-group text-right mb-0 RegisterLang">
                                        <button key="Submit" type="button" id="forgotSubmit" class="btn-first btn-small ">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </form>

                </div>

            </div>
        </div>
    </div>
    <div id="preloader"></div>

    <input type="hidden" id="baseApiUrl" value="@Configuration.GetSection("UrlSetting").GetSection("baseApiUrl").Value" />
    <input type="hidden" id="baseWebUrl" value="@Configuration.GetSection("UrlSetting").GetSection("baseWebUrl").Value" />
    <input type="hidden" id="LiveWebUrl" value="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value" />
    <input type="hidden" id="baseUrlForMVCAction" value="@Configuration.GetSection("UrlSetting").GetSection("baseUrlForMVCAction").Value" />



    <script src="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/js/jquery.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==" crossorigin="anonymous"></script>
    @*<script src="~/Register/js/AdditionMethod.js"></script>*@
    <script src="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/js/popper.min.js"></script>
    <script src="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/js/bootstrap.min.js"></script>
    <script src="https://www.jqueryscript.net/demo/Bootstrap-4-Dropdown-Select-Plugin-jQuery/dist/js/bootstrap-select.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="~/assets/js/CustomInputMask.min.js"></script>
    <script src="~/assets/js/ion.rangeSlider.min.js"></script>
    <script src="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/js/slick.min.js"></script>
    <script src="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/js/datepicker.js"></script>
    <script src="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/js/datepicker.en.js"></script>
    <script src="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/js/isotope.pkgd.min.js"></script>
    <script src="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/js/jquery.nice-select.js"></script>
    <script src="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/assets/js/custom.js"></script>
    <script src="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/Register/js/Languages.js"></script>
    <script src="@Configuration.GetSection("UrlSetting").GetSection("LiveWebUrl").Value/Register/js/ForgotPassword.js"></script>
</body>

</html>




















